.container {
    margin: 10px 10px 10px;
    min-width: 280px;
    max-width: 350px;
    height: 70px;
    background-color: #D5D5D5;
    padding-bottom: 10px;
    border-radius: 6px;
    position: relative;
}

.container__input {
    min-width: 200px;
    max-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    height: 40px;
}

.container__button {
    position: absolute;
    top: 20px;
    width: 80px;
    display: inline-block;
    height: 20px;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 10px 0px 10px;
    }
}