.backgroundModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #111111;
    opacity: 0.8;
    z-index: 20;
}

.modalContainer {
    width: 220px;
    min-height: 200px;
    position: fixed;
    top: calc(50vh - 220px);
    left: calc(50vw - 135px);
    background-color: #ffffff;
    z-index: 21;
    padding: 24px;
    border-radius: 30px;
}

.container {
    height: 60px;
}

.inputContainer {
    margin-top: 20px;
    height: 36px;
    position: relative;
    width: 100%;
}

.input {
    background-color: transparent;
    border-radius: 12px;
    border: solid #999999 1px;
    box-sizing: border-box;
    color: #000000;
    font-size: 16px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input:focus {
    border: solid #00db58 1px;
}

.cut {
    background-color: #D5D5D5;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}

.placeholder {
    color: #282828;
    font-family: sans-serif;
    left: 20px;
    line-height: 0px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-22px) translateX(10px) scale(0.75);

}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #282828;
}

.input:focus ~ .placeholder {
    color: #000000;
}


.buttonBuy {
    border-radius: 10px;
    background-color: transparent;
    color: #00db58;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    border: solid #999999 1px;
    text-decoration: none;
    transition: 0.3s;
    margin-bottom: 10px;
}
.buttonBuy:hover {
    background-color: #00db58;
    border: solid #00db58 1px;
    color: #ffffff;
    text-decoration: none;
}
.buttonBuy:active {
    position:relative;
    top:1px;
}

.buttonOrder {
    margin-top: 20px;
    width: 220px;
    border-radius: 10px;
    background-color: #00db58;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    border: solid #00db58 1px;
    text-decoration: none;
    transition: 0.3s;
}
.buttonOrder:hover {
    background-color: #ffffff;
    border: solid #999999 1px;
    color: #00db58;
}
.buttonOrder:active {
    position:relative;
    top:1px;
}
.buttonOrder:disabled {
    background-color: #af1642;
    border: solid #999999 1px;
    color: #999999;
}
.buttonOrder:disabled:hover {
    color: #999999;
}

.error {
    color: #af1642;
    height: 30px;
}