.container {
    height: 60px;
}

.container__input {
    margin-top: 20px;
    height: 36px;
    position: relative;
    width: 100%;
}

.input {
    background-color: #ffffff;
    border-radius: 12px;
    border: solid #999999 0px;
    box-sizing: border-box;
    color: #000000;
    font-size: 16px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.container__placeholder {
    color: #282828;
    font-family: sans-serif;
    left: 20px;
    line-height: 0px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .container__placeholder,
.input:not(:placeholder-shown) ~ .container__placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .container__placeholder {
    color: #282828;
}

.container__error {
    color: #af1642;
    height: 30px;
}