.table {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #c1c1c1;
}

.table div{
    min-width: 56px;
    width: 14%;
    padding: 4px;
}