.container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    min-height: 600px;
    background-color: #fafafa;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 11fr;
}

@media screen and (max-width: 600px) {
    .container {
        display: block;
    }
}