.accordion__title {
    margin-top: 10px;
    background-color: #C0BEBE;
    padding: 6px 6px 6px 6px;
    color: #000000;
    font-weight: normal;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.accordion__title:hover {
    background-image: -webkit-linear-gradient(top, #C0BEBE, #aaaaaa);
    background-image: -moz-linear-gradient(top, #C0BEBE, #aaaaaa);
    background-image: -ms-linear-gradient(top, #C0BEBE, #aaaaaa);
    background-image: -o-linear-gradient(top, #C0BEBE, #aaaaaa);
    background-image: linear-gradient(to bottom, #C0BEBE, #aaaaaa);
}

.accordion__title:active {
    position: relative;
    top: 1px;
}

.accordion__title__active {
    font-weight: bold;
    background-color: #C0BEBE;
}

.accordion__description {
    padding: 0px 8px 0px;
    max-height: 0;
    overflow: hidden;
    background: #C0BEBE;
    -webkit-transition: max-height .8s;
    -o-transition: max-height .8s;
    transition: max-height .8s;
}

.accordion__description__active {
    max-height: 100vh;
}