.accordionTitle {
    margin-top: 10px;
    background-color: #c1c1c1;
    padding: 6px 6px 6px 6px;

    color: #ffffff;
    font-weight: normal;
    font-size: 15px;
}

.accordionTitle:hover {
    background-image: -webkit-linear-gradient(top, #c1c1c1, #aaaaaa);
    background-image: -moz-linear-gradient(top, #c1c1c1, #aaaaaa);
    background-image: -ms-linear-gradient(top, #c1c1c1, #aaaaaa);
    background-image: -o-linear-gradient(top, #c1c1c1, #aaaaaa);
    background-image: linear-gradient(to bottom, #c1c1c1, #aaaaaa);
}

.accordionTitle:active {
    position: relative;
    top: 1px;
}

.accordionTitleActive {
    font-weight: bold;
    background-color: #aaaaaa;
}

.description {
    padding: 0px 8px 0px;
    max-height: 0;
    overflow: hidden;
    background: #c1c1c1;
    -webkit-transition: max-height .8s;
    -o-transition: max-height .8s;
    transition: max-height .8s;
}

.descActiv {
    max-height: 100vh;
}